.cid-menu .navbar {
    padding: .5rem 0;
    background: #333333;
    transition: none;
    min-height: 77px;
}
.cid-menu .navbar-dropdown.bg-color.transparent.opened {
    background: #333333;
}
.cid-menu a {
    font-style: normal;
}
.cid-menu .nav-item span {
    padding-right: 0.4em;
    line-height: 0.5em;
    vertical-align: text-bottom;
    position: relative;
    text-decoration: none;
}
.cid-menu .nav-item a {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 0 !important;
    margin: 0rem .65rem !important;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.cid-menu .nav-item:focus,
.cid-menu .nav-link:focus {
    outline: none;
}
.cid-menu .btn {
    padding: 0.4rem 1.5rem;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
}
.cid-menu .btn .mbr-iconfont {
    font-size: 1.6rem;
}
.cid-menu .menu-logo {
    margin-right: auto;
}
.cid-menu .menu-logo .navbar-brand {
    display: flex;
    margin-left: 5rem;
    padding: 0;
    transition: padding .2s;
    min-height: 3.8rem;
    -webkit-align-items: center;
    align-items: center;
}
.cid-menu .menu-logo .navbar-brand .navbar-caption-wrap {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    word-break: break-word;
    min-width: 7rem;
    margin: .3rem 0;
}
.cid-menu .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
    line-height: 1.2rem !important;
    padding-right: 2rem;
}
.cid-menu .menu-logo .navbar-brand .navbar-logo {
    font-size: 4rem;
    transition: font-size 0.25s;
}
.cid-menu .menu-logo .navbar-brand .navbar-logo img {
    display: flex;
}
.cid-menu .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
    transition: font-size 0.25s;
}
.cid-menu .menu-logo .navbar-brand .navbar-logo a {
    display: inline-flex;
}
.cid-menu .navbar-toggleable-sm .navbar-collapse {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    padding-right: 5rem;
    width: auto;
}
.cid-menu .navbar-toggleable-sm .navbar-collapse .navbar-nav {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding-left: 0;
}
.cid-menu .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: center;
    align-self: center;
}
.cid-menu .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
    padding-left: 0;
    padding-bottom: 0;
}
.cid-menu .dropdown .dropdown-menu {
    background: #333333;
    visibility: hidden;
    display: block;
    position: absolute;
    min-width: 5rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    text-align: left;
}
.cid-menu .dropdown .dropdown-menu .dropdown-item {
    width: auto;
    padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-menu .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
}
.cid-menu .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
}
.cid-menu .dropdown.open > .dropdown-menu {
    visibility: visible;
}
.cid-menu .navbar-toggleable-sm.opened:after {
    position: absolute;
    width: 100vw;
    height: 100vh;
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    z-index: 1000;
}
.cid-menu .navbar.navbar-short {
    min-height: 60px;
    transition: all .2s;
}
.cid-menu .navbar.navbar-short .navbar-toggler-right {
    top: 20px;
}
.cid-menu .navbar.navbar-short .navbar-logo a {
    font-size: 2.5rem !important;
    line-height: 2.5rem;
    transition: font-size 0.25s;
}
.cid-menu .navbar.navbar-short .navbar-logo a .mbr-iconfont {
    font-size: 2.5rem !important;
}
.cid-menu .navbar.navbar-short .navbar-logo a img {
    height: 3rem !important;
}
.cid-menu .navbar.navbar-short .navbar-brand {
    min-height: 3rem;
}
.cid-menu button.navbar-toggler {
    width: 31px;
    height: 18px;
    cursor: pointer;
    transition: all .2s;
    top: 1.5rem;
    right: 1rem;
}
.cid-menu button.navbar-toggler:focus {
    outline: none;
}
.cid-menu button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #ffffff;
}
.cid-menu button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all .2s;
}
.cid-menu button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all .15s;
}
.cid-menu button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all .15s;
}
.cid-menu button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all .2s;
}
.cid-menu nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all .2s;
}
.cid-menu nav.opened .hamburger span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all .25s;
}
.cid-menu nav.opened .hamburger span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all .25s;
}
.cid-menu nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all .2s;
}
.cid-menu .collapsed.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
}
.cid-menu .collapsed .btn {
    display: -webkit-flex;
}
.cid-menu .collapsed .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
}
.cid-menu .collapsed .navbar-collapse.collapsing,
.cid-menu .collapsed .navbar-collapse.show {
    display: block !important;
}
.cid-menu .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-menu .collapsed .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
}
.cid-menu .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-menu .collapsed .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
}
.cid-menu .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-menu .collapsed .navbar-collapse.show .navbar-buttons {
    text-align: center;
}
.cid-menu .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-menu .collapsed .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
}
@media (min-width: 1024px) {
    .cid-menu .collapsed:not(.navbar-short) .navbar-collapse {
        max-height: calc(98.5vh - 3.8rem);
    }
}
.cid-menu .collapsed button.navbar-toggler {
    display: block;
}
.cid-menu .collapsed .navbar-brand {
    margin-left: 1rem !important;
}
.cid-menu .collapsed .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
}
.cid-menu .collapsed .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
}
.cid-menu .collapsed .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
}
.cid-menu .collapsed .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
}
.cid-menu .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
    .cid-menu .navbar-expand {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .cid-menu img {
        height: 3.8rem !important;
    }
    .cid-menu .btn {
        display: -webkit-flex;
    }
    .cid-menu button.navbar-toggler {
        display: block;
    }
    .cid-menu .navbar-brand {
        margin-left: 1rem !important;
    }
    .cid-menu .navbar-toggleable-sm {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .cid-menu .navbar-collapse {
        display: none !important;
        padding-right: 0 !important;
    }
    .cid-menu .navbar-collapse.collapsing,
    .cid-menu .navbar-collapse.show {
        display: block !important;
    }
    .cid-menu .navbar-collapse.collapsing .navbar-nav,
    .cid-menu .navbar-collapse.show .navbar-nav {
        display: block;
        text-align: center;
    }
    .cid-menu .navbar-collapse.collapsing .navbar-nav .nav-item,
    .cid-menu .navbar-collapse.show .navbar-nav .nav-item {
        clear: both;
    }
    .cid-menu .navbar-collapse.collapsing .navbar-buttons,
    .cid-menu .navbar-collapse.show .navbar-buttons {
        text-align: center;
    }
    .cid-menu .navbar-collapse.collapsing .navbar-buttons:last-child,
    .cid-menu .navbar-collapse.show .navbar-buttons:last-child {
        margin-bottom: 1rem;
    }
    .cid-menu .dropdown .dropdown-menu {
        width: 100%;
        text-align: center;
        position: relative;
        opacity: 0;
        overflow: hidden;
        display: block;
        height: 0;
        visibility: hidden;
        padding: 0;
        transition-duration: .5s;
        transition-property: opacity,padding,height;
    }
    .cid-menu .dropdown.open > .dropdown-menu {
        position: relative;
        opacity: 1;
        height: auto;
        padding: 1.4rem 0;
        visibility: visible;
    }
    .cid-menu .dropdown .dropdown-submenu {
        left: 0;
        text-align: center;
        width: 100%;
    }
    .cid-menu .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
        margin-top: 0;
        position: inherit;
        right: 0;
        top: 50%;
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .3em;
        vertical-align: middle;
        content: "";
        border-top: .30em solid;
        border-right: .30em solid transparent;
        border-left: .30em solid transparent;
    }
}
@media (min-width: 767px) {
    .cid-menu .menu-logo {
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
    }
}
.cid-menu .navbar-collapse {
    flex-basis: auto;
    -webkit-flex-basis: auto;
}
.cid-menu .nav-link:hover,
.cid-menu .dropdown-item:hover {
    color: #c1c1c1 !important;
}
.cid-counter {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #efefef;
}
.cid-counter .mbr-section-subtitle {
    color: #767676;
    font-weight: 300;
}
.cid-counter .mbr-content-text {
    color: #767676;
}
.cid-counter .card {
    word-wrap: break-word;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}
.cid-counter .mbr-iconfont {
    font-size: 80px;
    color: #149dcc;
}
.cid-counter .cards-container {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    word-break: break-word;
}
.cid-counter .media-block {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
    .cid-counter .media-block {
        padding-right: 2rem;
    }
}
.cid-counter .cards-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}
.cid-counter .card-img {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .cid-counter .media-block {
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
        padding-left: 0;
        padding-bottom: 2rem;
    }
}
.bottom-line {
    border-bottom: 1px solid black;
    display: inline;
}