.cid-student {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #ffffff;
}
.cid-student h4 {
    width: 85%;
    font-weight: 500;
    margin-bottom: 0;
}
.cid-student p {
    color: #767676;
}
.cid-student .card-wrapper {
    border-top: 1px solid #efefef;
    background-color: #ffffff;
    position: relative;
    justify-content: unset;
}
.cid-student .card-wrapper .card-box {
    padding: 2rem;
    width: 100%;
}
.cid-student .card-wrapper .card-box .top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cid-student .card-wrapper .card-box .bottom-line {
    width: 85%;
}
@media (max-width: 767px) {
    .cid-student .card-wrapper .card-box .bottom-line {
        width: 100%;
    }
    .cid-student .card-wrapper .card-box .bottom-line p {
        text-align: center;
        margin: 1rem 0 0 0;
    }
}