.cid-video {
    background: #149dcc;
    padding-top: 60px;
    padding-bottom: 60px;
    background: linear-gradient(0deg, #149dcc, #ffffff);
}
.cid-video .video-block {
    margin: auto;
}
@media (max-width: 768px) {
    .cid-video .video-block {
        width: 100% !important;
    }
}
.cid-content {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
}
.cid-content .line {
    background-color: #149dcc;
    color: #149dcc;
    align: center;
    height: 2px;
    margin: 0 auto;
}
.cid-content .section-text {
    padding: 2rem 0;
}
.cid-content .inner-container {
    margin: 0 auto;
}
@media (max-width: 768px) {
    .cid-content .inner-container {
        width: 100% !important;
    }
}
.cid-content-1 {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #ffffff;
}
.cid-content-1 h4 {
    width: 85%;
    font-weight: 500;
    margin-bottom: 0;
}
.cid-content-1 p {
    color: #767676;
}
.cid-content-1 .card-wrapper {
    border-top: 1px solid #efefef;
    background-color: #ffffff;
    position: relative;
    justify-content: unset;
}
.cid-content-1 .card-wrapper .card-box {
    padding: 2rem;
    width: 100%;
}
.cid-content-1 .card-wrapper .card-box .top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cid-content-1 .card-wrapper .card-box .bottom-line {
    width: 85%;
}
@media (max-width: 767px) {
    .cid-content-1 .card-wrapper .card-box .bottom-line {
        width: 100%;
    }
    .cid-content-1 .card-wrapper .card-box .bottom-line p {
        text-align: center;
        margin: 1rem 0 0 0;
    }
}
.cid-write {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #ffffff;
}
.cid-write .mbr-section-subtitle {
    color: #767676;
}
.cid-write .formoid {
    margin: auto;
}
.cid-write .form-control {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.cid-write .input-group-btn .btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 !important;
}
.cid-write a:not([href]):not([tabindex]) {
    color: #fff;
}
.cid-write a.btn-white:not([href]):not([tabindex]) {
    color: #333;
}
@media (max-width: 768px) {
    .cid-write .mbr-form .row {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
    }
    .cid-write .form-group,
    .cid-write .input-group-btn,
    .cid-write .input-group-btn .btn {
        max-width: 300px;
        width: 100%;
    }
}
@media (min-width: 769px) {
    .cid-write .mbr-form .row > * {
        padding: 0 0.5rem;
    }
}